@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/*==================*Full Profile content*===============================*/
body{
    margin: 0;
}
section{
    margin: 0;
    height: 880vh;
    background: #ecf0f1;
    overflow: hidden;
    position: relative;
}
@media all and (min-width: 425px) and (max-width: 768px){
    section{
        height: 720vh;
    }
}
/*==================*Full Profile content*===============================*/
/*==================*First Page*==========================================*/
/*==================*logo*================*/
img{
    width: 8vw;
    height: 10vh;
    position: absolute;
    left: 10px;
    top: 10px;
    background-size: cover;
    background-position: center;
    padding: 5px;
}
/*======================*/
main{
    position: relative;
}
/*==========*social media navigation*===========*/
#leftSideDiv{
    position: fixed;
    width: 2.5vw;
    height: 50vh;
    color: #405A6B;
    border-radius: 30px;
    top: 25vh;
    left: 0;
    box-shadow: 0 0 2px 2px #dcdde1;
}
@media all and (min-width: 1024px) and (max-width: 1440px){
 #SAchini{
    color: #405A6B;
     font-size: 15px;
     font-family: Castellar;
    transform: rotate(-90deg);
     width: 300px;
     left: -13.5vw;
     top: 17vh;
     position: absolute;
}
}


main>div:nth-child(2){
    top: 25vh;
    right: 0;
}
#SAchini:hover{
    text-shadow:0px 0px 10px black;
}
@media all and (min-width: 1440px) and (max-width: 2560px){
    #SAchini:hover{
        text-shadow:0px 0px 10px black;
    }
}
#rightSideDiv{
    position: fixed;
    width: 2.5vw;
    height: 50vh;
    /*background:  #ecf0f1;*/
    border-radius: 30px;
    top: 25vh;
    /*border: 2px solid #405A6B;*/
    right: 0;
    box-shadow: 0 0 2px 2px #dcdde1;
    /*opacity: 30%;*/
}
/*==================Tablet responzive===================*/
@media all and (min-width: 425px) and (max-width: 768px){
    main>div{
        width: 0;
        height: 0;
    }
}
/**==================Tablet responzive===================*!*/
/*=====section inside social media nav=========*/
main>div>section{
    width: 2vw;
    height: 45vh;
    position: absolute;
    top: 1.5vh;
    left: 0.3vw;
    /*background:  #ecf0f1;*/
}

@media all and (min-width: 0px) and (max-width: 768px){
    main>div>section{
        width: 0;
    }
}
#soial>img{
    opacity: 50%;
}
/*==========*name inside left navigation*======*/

/*==================Tablet responzive===================*/

@media all and (min-width: 0px) and (max-width: 768px){
    main>div>h5{
        visibility: hidden;
    }
    main>nav>p{
        visibility: hidden;
    }
    main>p{
        visibility: hidden;
    }
}
/*==================Tablet responzive===================*/
@media all and (min-width: 425px) and (max-width: 768px){
    main>div>h5{
        text-align: center;
        width: 400px;
        font-family: Castellar;
        position: absolute;
        transform: rotate(-0deg);
        left: 26.5vw;
        top: -23vh;
        font-size: 2vw;
        color: #A63856;
    }
}
/*==================Tablet responzive===================*/
/*=========1024px responzive=======*/
@media all and (min-width: 768px) and (max-width: 1024px){
    main>div>h5{
        text-align: center;
        width: 400px;
        font-family: Castellar;
        position: absolute;
        transform: rotate(-90deg);
        left: -18.5vw;
        top: 20vh;
        font-size: 1.2vw;
    }
}
/*==========*name inside left navigation*======*/
/*==============================================================*/

/*==================Tablet responzive===================*/
@media all and (min-width: 425px) and (max-width: 768px){
    main>div:nth-child(2){
        text-align: center;
        width: 400px;
        font-family: Castellar;
        position: absolute;
        transform: rotate(-0deg);
        left: 25.5vw;
        top: -25vh;
        font-size: 2.2vw;
    }
}
/*==================Tablet responzive===================*/
/*==========*social media images*======*/
#soial>img{
    width: 20px;
    height: 20px;
    position: absolute;
    background-position: center;
    background-size: cover;
    left: -5px;
}
@media all and (min-width: 1024px) and (max-width: 1440px){
    #soial>img{
        width: 20px;
        height: 20px;
        position: absolute;
        background-position: center;
        background-size: cover;
        left: -5px;
    }
}
@media all and (min-width: 425px) and (max-width: 768px){
    #soial>img{
        width: 0;
        height: 0;
    }
}
#soial>img:nth-child(1){
    top: 1vh;
    background-position: center;
    background-size: cover;
}
#soial>img:nth-child(2){
    width: 20px;
    height: 20px;
    top: 10vh;
    background-position: center;
    background-size: cover;
}
#soial>img:nth-child(3){
    top: 20vh;
    background-position: center;
    background-size: cover;
}
#soial>img:nth-child(4){
    top: 30vh;
    background-position: center;
    background-size: cover;
}
#soial>img:nth-child(5){
    top: 40vh;
    background-position: center;
    background-size: cover;
}
/*============*wallpaper*=====================*/
main>nav{
    width: 39vw;
    height: 100vh;
    top: 0;
    left: 172px;
    position: relative;
    overflow: hidden;
    border: none;
    /*box-shadow: 20px 20px 20px 20px #1B1A2F;*/
}
.shadow{
    width: 40%;
    height: 75%;
    position: absolute;
    top: 95px;
    left: 100px;
    background-color: #30336b;
    opacity: 60%;
    box-shadow: 0 10px 10px -5px;
}

/*==================Mobile S responzive===================*/
@media all and (min-width: 0px) and (max-width: 320px){
    main>nav{
        position: absolute;
        left: 0;
        font-family: "Baskerville Old Face";
        font-size: 40px;
        color: #E3E3E3;
        height: 50vh;
        width: 50vw;
        top: 0;
    }
    main>nav>h2{
        width: 0;
    }
    main>h2{
        width: 0;
    }
}
/*==================Tablet responzive===================*/
@media all and (min-width: 0px) and (max-width: 768px){
    main>nav{
        width: 84vw;
        height: 57vh;
        top: 75px;
        left: 8vw;
    }
}

/*==================Tablet responzive===================*/
#frame{
    width: 400%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0px;
    transform: translateX(100px);
    animation: slider 10s infinite alternate;
    border: 0px solid  orange;
    /*box-shadow: 0 10px 10px -5px;*/

}

#frame>section{
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 500px;
    position: absolute;
    display: flex;
    /*border: 3px solid green;*/
}
#frame>section:nth-child(1){
    left: 0;
    background: url("../img/edward-howell-ywk-7XpYZus-unsplash.jpg ");
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
#frame>section:nth-child(2){
    left: 25%;
    background: url("../img/ben-kolde-cpLsWmMEa1Q-unsplash (1).jpg ");
    background-position: center;
    background-size: cover;
    border-radius: 30px;

}
#frame>section:nth-child(3){
    left: 50%;
    background: url("../img/domenico-loia-hGV2TfOh0ns-unsplash.jpg ");
    background-position: center;
    background-size: cover;
    border-radius: 30px;

}
#frame>section:nth-child(4){
    left: 75%;
    background: url("../img/nikita-kachanovsky-bLY5JqP_Ldw-unsplash (1).jpg");
    background-position: center;
    background-size: cover;
    border-radius: 30px;

}

@keyframes slider {
    0%,20%{
        transform: translateX(-0%);
    }
    25%,40%{
        transform: translateX(-25%);
    }
    50%,70%{
        transform: translateX(-50%);
    }
    75%,100%{
        transform: translateX(-75%);
    }
}
/*===============Bring your===================*/
main>nav>h5{
    position: absolute;
    right: 0;
    top: 55px;
    font-family: "Baskerville Old Face";
    font-size: 40px;
    color: #ff7979;
    /*animation: 3s heading infinite alternate ;*/
}
@media all and (min-width: 0px) and (max-width: 768px){
    main>nav>h5{
        visibility: hidden;
    }

    main>h5{
        visibility: hidden;
    }
}
main>nav>h6{
    right: 0;
}
@media all and (min-width: 768px) and (max-width: 768px){
    main>nav>h6{
        position: absolute;
        right: 35px;
        font-family: "Baskerville Old Face";
        font-size: 0;
        color:  #ecf0f1;
        animation: 3s heading infinite alternate ;
    }
}
/*========================1024px resolution==============================*/

@media all and (min-width: 768px) and (max-width: 1024px){
    main>nav>h5{
        font-size: 29px;
    }

}
@keyframes heading{
    0%{
        top: -10px;
    }
    100%{
        top: 68px;
    }
}
main>h5{
    position: absolute;
    left:50vw;
    top: 55px;
    font-family: "Baskerville Old Face";
    font-size: 40px;
    color: #ff7979;
    display: inline-block;
    cursor: pointer;
}

@media all and (min-width: 425px) and (max-width: 768px){
    main>h5{
        position: absolute;
        left: 30.8vw;
        font-family: "Baskerville Old Face";
        font-size: 35px;
        color:  #ecf0f1;
        animation: 3s heading infinite alternate ;
        width: 500px;
    }
}
/*========================1024px==============================*/

@media all and (min-width: 768px) and (max-width: 1024px){
    main>h5{
        left:55.8vw;
        font-size: 29px;
    }
}


/*============paragraph=================*/

main>nav>p{
    position: absolute;
    right: -0.5vw;
    font-family: "Baskerville Old Face";
    color: #643239;
    top: 51vh;
    width:5vw;
    height: 20vh;
    font-weight: bold;
    font-size: 1.5vw;
    animation: 10s color infinite alternate;
}

@keyframes color {
    0%,20%{
        color: #643239;
    }
    25%,40%{
        color: #E3E3E3;
    }
    50%,70%{
        color: #643239;
    }
    75%,100%{
        color:  #ecf0f1;
    }
}

main>p{
    position: absolute;
    left: 50.2vw;
    font-family: "Baskerville Old Face";
    top: 51vh;
    width: 35vw;
    height: 20vh;
    /* font-weight: bold; */
    color:  #718093;
    font-size: 1.5vw;

}
/*========================1024px==============================*/

@media all and (min-width: 768px) and (max-width: 1024px){
    main>p{
        left: 55.8vw;
    }
}


/*==========read more part=============*/

main>nav>div{
    position: absolute;
    top: 65vh;
    width: 50px;
    height: 30px;
    right: 0;
    border-left: 1em solid transparent;
    border-bottom: 3em solid #A0AAB3;
    animation: 12s chanagecolor infinite alternate;
    transition-property: transform;
    transition-duration: 1s;
}
main>nav>div:hover{
    transform: rotateY(360deg);
}

@keyframes chanagecolor {
    0%,24%{
        border-bottom: 3em solid #A0AAB3;
    }
    25%,49%{
        border-bottom: 3em solid grey;
    }
    50%,74%{
        border-bottom: 3em solid #A0AAB3;
    }
    75%,100%{
        border-bottom: 3em solid grey;
    }
}
main>nav>div>h5{
    position: absolute;
    color: #643239;
    font-family: Castellar;
    left: 0;
    top: 25px;
}
section>aside{
    position: absolute;
    top: 20vh;
    width: 3em;
    height: .5em;
    right: 10vw;
    border-right: 1em solid transparent;
    border-bottom: 3em solid #A0AAB3;
}
main>aside>a:nth-child(1),main>aside>a:nth-child(2),main>aside>a:nth-child(3){
    right: 18vw;
    top: 4vh;
    position: relative;
    padding: 3px 3px 12px 3px;
    color: #30336b;
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.5s;
    /*border: 1px solid red;*/
}


main>aside>a:nth-child(2){
    left: -35px;
}
main>aside>a:nth-child(2){
    left: 30px;
}
main>aside>a:nth-child(3){
    left: 50px;
}
a:hover {
    background: #ced6e0;
    transition-delay: 2s;
    box-shadow: -10px 10px 10px rgba(0,0,0,.4);
    transform: rotate(-30deg) skew(35deg);
}

a:before,
a:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 40%;
    background: #747d8c;
    pointer-events: none;
    /*transform-style: linear;*/
    transition-property: width,opacity,transform,box-shadow;
    transition-duration: 0.5s;
}
a:before {
    top: 0;
    left: 0;
}

a:after {
    top: 0;
    right: 0;
}

a:hover:before {
    width: 100%;
    opacity: 0.1;
    transform: translate(5px,-5px);
    box-shadow: +2px 2px 2px rgba(0,0,0,.1);
    transition-delay: 0s,0.5s,1s,5s;
}

a:hover:after {
    width: 100%;
    opacity: 0.1;
    transform: translate(10px, -10px);
    box-shadow: +2px 2px 2px rgba(0,0,0,.1);
    transition-delay: 0s,0.5s,1s,5s;
}


/*==================Tablet responzive===================*/
@media all and (min-width: 425px) and (max-width: 768px){
    section>aside{
        width: 0;
        height: 0;
    }

    main>aside>h5{
        font-size: 0;
    }

    main>nav>div>h5{
        font-size: 0;
    }
}
/*==================Tablet responzive===================*/
/*========================1024px==============================*/
@media all and (min-width: 768px) and (max-width: 1024px){
    main>aside>h5{
        top: 69vh;
        left: 55.7vw;
    }
}
/*===========================Page-2 About me=====================*/
#AboutMe{
    height: 70vh;
    width: 80vw;
    left: 10vw;
    top: 15vh;
    position: relative;
    box-shadow: 5px 5px 10px #596275;
    /*animation: 6s dissapear infinite alternate;*/

}
/*==================Mobile S responzive===================*/
@media all and (min-width: 0px) and (max-width: 320px){
    main>nav{
        position: absolute;
        left:0;
        font-family: "Baskerville Old Face";
        font-size: 40px;
        color: #E3E3E3;
        height: 50vh;
        width: 50vw;
        top: 0;
        animation: 3s heading infinite;
    }
}
/*==================Tablet responzive===================*/
@media all and (min-width: 425px) and (max-width: 768px){
    #AboutMe{
        top: 22vh;
    }
}
/*==================Tablet responzive===================*/
@keyframes dissapear {
    0%{
        border:2px solid  #ecf0f1;
    }
    50%{
        border:2px solid #A0AAB3;
    }
    75%{
        border:2px solid  #ecf0f1;
    }
    100%{
        border:2px solid #A0AAB3;
    }
}
section>#AboutMe>div:nth-child(3){
    width: 20vw;
    height: 40vh;
    top: 20vh;
    left: 5vw;
    position: absolute;
}
section>#AboutMe>div:nth-child(3){
    background: url("../img/WhatsApp Image 2021-01-22 at 11.45.35.jpeg");
    background-size: cover;
    background-position: center;
    top: 15vh;
    left: 5vw;
    position: absolute;
    animation-name: autoOpen ;
    animation-duration: 2s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
section>#AboutMe>div:nth-child(3):hover  {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
@keyframes autoOpen {
    from{
        width: 50px;
        height: 50px;
    }
    to{
        width: 205px;
        height: 213px;    }
}
section>#AboutMe>h4{
    width: 45vw;
    height: 50vh;
    left: 30vw;
    position: absolute;
    font-family: "Baskerville Old Face";
    font-size: 1.5vw;
    top: 25vh;

}
/*==================Page 3 - Skills================================*/
#Skills{
    width: 70vw;
    height: 90vh;
    border-radius: 5vw;
    /*border: 5px solid #596275;;*/
    position: relative;
    top: 40vh;
    left: 20vw;

}

@media all and (min-width: 768px) and (max-width: 1024px){
    #Skills{
        width: 77vw;
        height: 120vh;
        left: 10vw;
        top: 40vh;
        /*animation: 4s change infinite alternate;*/

    }
}
@keyframes change {
    0%{
        border:2px solid #405A6B;
    }
    50%{
        border:2px solid #A0AAB3;
    }
    75%{
        border:2px solid #405A6B;
    }
    100%{
        border:2px solid #A0AAB3;
    }
}



#all{
    width: 60vw;
    height: 80vh;
    position: relative;
    left: 5vw;
    top: 5vh;
    /*border: 3px solid red;*/
}

@media all and (min-width: 768px) and (max-width: 1024px){
    #all{
        width: 77vw;
        height: 120vh;
        left: -8vw;
        top: 20px;
    }
}

@media all and (min-width: 425px) and (max-width: 768px){
    #all{
        width: 6vw;
        height: 120vh;
        left: -25vw;
        top: 77px;
    }
}
/*===============container===================*/
#all>div{
    width: 300px;
    height: 300px;
    position: absolute;
    transform: rotate(90deg);
}

#all>div>section {
    position: relative;
    width:180px;
    height: 120px;
    margin: 86.60px;
    right: 86px;
}

#all>div::before{
    content: "";
    width: 0;
    height: 0;
    top: 45.5px;
    position: absolute;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;

}


#all>div::after{
    content: "";
    width: 0;
    height: 0;
    bottom: 52px;
    position: absolute;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
}


/*==========================1=============================*/

#all>div:nth-child(1){
    left: 350px;
    /*border: 1px solid red;*/
}
#all>div:nth-child(1)>section:nth-child(1){
    background-color: #95BF39;
}
#all>div:nth-child(1)::before{
    border-bottom: 42px solid #95BF39;
}
#all>div:nth-child(1)::after{
    border-top: 42px solid #95BF39;
}

#all>div:nth-child(1)>section:nth-child(1){
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.mysql {
    position: absolute;
    top: 70px;
    font-size:  20px;
    font-family: 'Montserrat', sans-serif;
    color: #747d8c;
}
/*=====================2==============================*/

#all>div:nth-child(2){
    top:100px;
    left: 530px;

}

#all>div:nth-child(2)>section{
    background-color: #BF1191;
}

#all>div:nth-child(2)::before{
    border-bottom: 42px solid #BF1191;
}

#all>div:nth-child(2)::after{
    border-top: 42px solid #BF1191;
}
#all>div:nth-child(2)>section:nth-child(1){
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
/*=====================3=============================*/

#all>div:nth-child(3){
    top:300px;
    left: 530px;

}

#all>div:nth-child(3)>section{
    background-color: orange;
}


#all>div:nth-child(3)::before{
    border-bottom: 42px solid orange;
}

#all>div:nth-child(3)::after{
    border-top: 42px solid orange;
}
#all>div:nth-child(3)>section:nth-child(1){
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
/*=====================4=============================*/

#all>div:nth-child(4){
    top: 398px;
    left: 351px;
}


#all>div:nth-child(4)>section{
    background-color: #405A6B;
}


#all>div:nth-child(4)::before{
    border-bottom: 42px solid #405A6B;
}

#all>div:nth-child(4)::after{
    border-top: 42px solid #405A6B;
}
#all>div:nth-child(4)>section:nth-child(1){
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
/*=====================5=============================*/

#all>div:nth-child(5){
    top: 300px;
    left: 175px;

}

#all>div:nth-child(5)>section{
    background-color: #38A69B;
}


#all>div:nth-child(5)::before{
    border-bottom: 42px solid #38A69B;
}

#all>div:nth-child(5)::after{
    border-top: 42px solid #38A69B;
}
#all>div:nth-child(5)>section:nth-child(1){
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

/*=====================6=============================*/

#all>div:nth-child(6){
    top: 101px;
    left: 178px;

}

#all>div:nth-child(6)>section{
    background-color: #643239;
}


#all>div:nth-child(6)::before{
    border-bottom: 42px solid #643239;
}

#all>div:nth-child(6)::after{
    border-top: 42px solid #643239;
}
#all>div:nth-child(6)>section:nth-child(1){
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
/*====================================================================*/

#all>div>section>div{
    width: 45px;
    height: 45px;
    position: absolute;
    transform: rotate(-90deg);
}
#all>div:nth-child(1)>section>div{

    background:  url("../icons/icons8-mysql-50.png ");
    top:35px;
    left: 45px;
    background-position: center;
    background-size: cover;
}

#all>div:nth-child(2)>section>div{

    background:  url("../icons/icons8-java-50 (1).png");
    top:45px;
    left: 40px;
    background-position: center;
    background-size: cover;
}

#all>div:nth-child(3)>section>div{

    background:  url("../icons/icons8-php-50 (1).png");
    top:45px;
    left: 45px;
    background-position: center;
    background-size: cover;
}
#all>div:nth-child(4)>section>div{

    background:  url("../icons/icons8-css-filetype-26.png");
    top:45px;
    left: 50px;
    background-position: center;
    background-size: cover;
}

#all>div:nth-child(5)>section>div{

    background:  url("../icons/icons8-html-filetype-24.png");
    top: 36px;
    left: 53px;
    background-position: center;
    background-size: cover;
}

#all>div:nth-child(6)>section>div{

    background:  url("../icons/icons8-js-50.png");
    top: 39px;
    left: 54px;
    background-position: center;
    background-size: cover;
}
#all>div>section:nth-child(2){
    position: absolute;
    background: #E3E3E3;
    border-radius: 8px;
    top:0px;
    left: 45px;

}

#all>div>section:nth-child(2)>div{
    width: 10px;
    height: 80px;
    position: absolute;
    border-radius: 8px;
    top:25px;
    left: 1.8px;
}
/*============================================*/

#all>div:nth-child(1)>section:nth-child(2){
    width: 15px;
    height: 110px;
    top:5px;
    left: 100px;

}

#all>div:nth-child(1)>section:nth-child(2)>div{
    width: 107px;
    height: 100px;
    position: absolute;
    background: #95BF39;
    border-radius: 3px;
    top: 5px;
    left: -3.5px;
}
/*#all>div:nth-child(1)>section:nth-child(2)>div:hover{*/
/*    width: 107px;*/
/*    background: #0F8A5F;*/
/*    transition-duration: 1s;*/
/*    transition-property: all;*/

/*}*/

/*============================================*/

#all>div:nth-child(2)>section:nth-child(2){
    transform: rotate(65deg);
    top: 103px;
    left: 45px;
    width: 15px;
    height: 100px;
}

#all>div:nth-child(2)>section:nth-child(2)>div{
    width: 107px;
    height: 92px;
    position: absolute;
    background: deeppink;
    border-radius: 3px;
    top: 10px;
    left: -6px;
}

#all>div:nth-child(2)>section:nth-child(2)>div:hover{
    width: 107px;
    background: #0F8A5F;
    transition-duration: 1s;
    transition-property: all;
}

/*============================================*/

#all>div:nth-child(3)>section:nth-child(2){
    transform: rotate(115deg);
    top: 104px;
    left: -53px;
    width: 15px;
    height: 100px;
}

#all>div:nth-child(3)>section:nth-child(2)>div {
    width: 7px;
    height: 121px;
    left: -6px;
    position: absolute;
    background: orange;
    border-radius: 3px;
}

#all>div:nth-child(3)>section:nth-child(2)>div:hover {
    width: 102px;
    transition-duration: 1s;
    transition-property: all;
}
/*============================================*/

#all>div:nth-child(5)>section:nth-child(2){
    transform: rotate(67deg);
    top: -93px;
    left: -51px;
    width: 15px;
    height: 100px;
}

#all>div:nth-child(5)>section:nth-child(2)>div{
    width: 10px;
    height: 80px;
    position: absolute;
    background:#38A69B;
    border-radius: 3px;
    top:25px;
    left: 1.8px;
}


/*============================================*/

#all>div:nth-child(4)>section:nth-child(2){

    top:0;
    left: -110px;
    width: 15px;
    height: 100px;
}

#all>div:nth-child(4)>section:nth-child(2)>div{
    width: 10px;
    height: 80px;
    position: absolute;
    background:rebeccapurple;
    border-radius: 3px;
    top:25px;
    left: 1.8px;
}
/*============================================*/

#all>div:nth-child(4)>section:nth-child(2){
    top: 7px;
    left: -109px;
    width: 15px;
    height: 100px;
}

#all>div:nth-child(4)>section:nth-child(2)>div{
    width: 102px;
    height: 80px;
    position: absolute;
    background: #405A6B;
    border-radius: 3px;
    top: -2px;
    left: -11.2px;
}

/*============================================*/

#all>div:nth-child(5)>section:nth-child(2){
    transform: rotate(66deg);
    top: -90px;
    left: -52px;
    width: 15px;
    height: 100px;
}

#all>div:nth-child(5)>section:nth-child(2)>div{
    width: 93px;
    height: 80px;
    position: absolute;
    background: #38A69B;
    border-radius: 3px;
    top: 6px;
    left: -6.2px;
}

/*============================================*/

#all>div:nth-child(6)>section:nth-child(2){
    transform: rotate(116deg);
    top: -80px;
    left: 51px;
    width: 15px;
    height: 100px;
}

#all>div:nth-child(6)>section:nth-child(2)>div{
    width: 23px;
    height: 80px;
    position: absolute;
    background: #643239;
    border-radius: 3px;
    top: -29px;
    left: 2.8px;
}

/*<!--================Page 4 - Projects==================================-->*/

#projects{
    width: 55vw;
    height: 80vh;
    position: relative;
    left: 23vw;
    top: 41vh;
    /*border: 2px solid pink;*/
}

.projectHeading {
    font-size: 4vw;
    position: relative;
    font-family: "Baskerville Old Face";
    top: 50vh;
    left: 100px;
    color: #30336b;
    opacity: 60%;
}
#projects>#pro{
    width: 55vw;
    height: 60vh;
    position: absolute;
    left: 1.6vw;
    top: 2vh;
    /*border: 2px solid blueviolet;*/

}

#projects>#pro>div{
    width: 13vw;
    height: 38vh;
    background: white;
    border: 1.2vw solid #38A69B;
    position: absolute;
    border-radius: 2.2vw;
    box-shadow: 3px 6px 6px 2px #1B1A2F;
    top: 15vh;


}

@media all and (min-width: 425px) and (max-width: 768px){
    #projects>#pro>div{
        width: 13vw;
        height: 31vh;
        background: white;
        border: 1.2vw solid #38A69B;
        position: absolute;
        border-radius: 2.2vw;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px){
    #projects{
        top: 45vh;
    }
}

@media all and (min-width: 425px) and (max-width: 768px){
    #projects{
        top: 20vh;
    }
}
#projects>#pro>div>div>section{
    font-family: "Baskerville Old Face";
    color: #38A69B;
    text-align: center;
    top: 50%;
    width: 11vw;
    height: 10vh;

    position: absolute;
    background: white;
}

#projects>#pro>div:nth-child(1)>div>section{
    width: 8vw;

    left: 20px;
}

#projects>#pro>div:nth-child(2)>div>section{

    left: 0px;
}

#projects>#pro>div:nth-child(3)>div>section{

    left: 0px;
}
#projects>#pro>div>div>div{
    top: 6.5vh;
    left: 2vh;
    position: absolute;
    background: url("../img/{575F20D1-364E-4DB5-B46C-F80AD657AAA6}.png.jpg");
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
}


#projects>#pro>div>div>section>a{
    font-family: "Baskerville Old Face";
    color: #38A69B;
    text-align: center;
    left: 0vh;
    position: absolute;
    font-size: 55px;
}
#projects>#pro>div:nth-child(1)>div>section>a{
    font-size: 15px;
    left: 2vh;

}
#projects>#pro>div:nth-child(2)>div>section>a{
    font-size: 15px;
    left: 5vh;

}
#projects>#pro>div:nth-child(3)>div>section>a{
    font-size: 15px;
    left: 5vh;

}

@media all and (min-width: 768px) and (max-width: 1024px){
    #projects>#pro>div>div>section>a{
        font-size: 1vw;
        top: 2vh;
    }
}



#projects>#pro>div:nth-child(1){
    left: 0;
}
#projects>#pro>div:nth-child(2){
    left: 19vw;
}

@media all and (min-width: 425px) and (max-width: 768px){
    #projects>#pro>div:nth-child(2){
        left: 17.5vw;
    }
}
#projects>#pro>div:nth-child(3){
    right: 20px;
}

#projects>#more{
    width: 30vw;
    height: 5vh;
    position: absolute;
    bottom: 5vh;
    left: 19vw;
}


@media all and (min-width: 768px) and (max-width: 1024px){
    #projects>#more{
        left:14vw;
    }
}

@media all and (min-width: 425px) and (max-width: 768px){
    #projects>#more{
        left:11vw;
    }
}
#projects>#more>div{
    height: 2vh;
    width: 1vw;
    border-radius: 100%;
    top: 0;
    position: absolute;


}

#projects>#more>div>a{
    position: absolute;
    font-family: "Baskerville Old Face";
    font-size: 1.5vw;
    top: -10px;
    left: 2px;
    color: black;
}
#projects>#more>div:nth-child(1)>a{
    color: #38A69B;
}
#projects>#more>div:nth-child(2)>a{
    color: deeppink;
}
#projects>#more>div:nth-child(3)>a{
    color: deeppink;
}


#projects>#more>div:nth-child(2){
    background: deeppink;
    left: 100px;
}

#projects>#more>div:nth-child(1){
    left: 130px;
    background: #38A69B;
}


#projects>#more>div:nth-child(3){
    background: deeppink;
    left: 160px;
}


/*========================Page 5 - Education===============================================*/



#education{
    width: 80vw;
    height: 85vh;
    position: relative;
    left: 7vw;
    top: 45vh;


}


.edu{
    font-size: 4vw;
    position: relative;
    font-family: "Baskerville Old Face";
    top: 50vh;
    left: 100px;
    color: #30336b;
    opacity: 60%;
}

#pole{
    width: 1vw;
    height: 85vh;
    position: absolute;
    left: 40vw;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#pole>div{
    width: 1vw;
    height: calc(85vh/3);
    position: absolute;
    left: 0;
}

#pole>div:nth-child(1){
    top: 0;
    background: #95BF39;
}
#pole>div:nth-child(2){
    top: calc((85vh/3)*1);
    background: #38A69B;
}
#pole>div:nth-child(3){
    top: calc((85vh/3)*2);
    background: #BF1191;;
}

#pole>div:nth-child(1)>section{
    width: 0;
    height: 0;
    top: calc((85vh/3)/2);
    left: 0;
    position: absolute;
    border-top: .5vw solid transparent;
    border-bottom:.5vw solid transparent;
    border-left: 1.5vw solid #95BF39;
}

#pole>div:nth-child(2)>section{
    width: 0;
    height: 0;
    top: calc((85vh/3)/2);
    right: 0;
    position: absolute;
    border-top: .5vw solid transparent;
    border-bottom:.5vw solid transparent;
    border-left: 1.5vw solid #38A69B;
    transform: rotate(180deg);
}

#pole>div:nth-child(3)>section{
    width: 0;
    height: 0;
    top: calc((85vh/3)/2);
    left: 0;
    position: absolute;
    border-top: .5vw solid transparent;
    border-bottom:.5vw solid transparent;
    border-left: 1.5vw solid #BF1191;
}

#cirsles>section{
    width: 12vw;
    height: 25vh;
    border-radius: 100%;
    position: absolute;
    background: #95BF39;
    right: 26.5vw;
    top: 5.5vh;
    /*box-shadow: 0 2px 4px 2px rgba(0,0,0,0.3),inset 0 5px 5px rgba(0,0,0,0.5)*/
}

@media all and (min-width: 425px) and (max-width: 768px){
    #cirsles>section{
        height: 19vh;
    }
}
#cirsles>section>div>img{
    background-position: center;
    background-size: cover;
    width: 3vw;
    height: 6vh;
    left: 3vw;
    top: 3.5vh;
}

#cirsles>section>div>h5{
    top: 9vh;
    left: 2.5vw;
    position: absolute;
    font-size: 1.2vw;
}

#cirsles>section>div{
    width: 10vw;
    height: 22vh;
    border-radius: 100%;
    position: absolute;
    background: #E3E3E3;
    left: 1vw;
    top: 1.3vh;
}

#cirsles>section:nth-child(1){
    top: 5vh;
    background: #95BF39;
}


#cirsles>section:nth-child(2){
    top: 32vh;
    left: 27.5vw;
    background: #38A69B;
}

#cirsles>section:nth-child(3){
    top: 60vh;
    background: #BF1191;
}


#education>h8:nth-child(2){
    left: 0;
    top: 50vh;
    position: absolute;
    font-size: 1.5vw;
    font-family: "Baskerville Old Face";
    color: #95BF39;
}
#education>h8:nth-child(3){
    right: 0;
    bottom: 15vh;
    position: absolute;
    font-size: 1.5vw;
    font-family: "Baskerville Old Face";
    color: #38A69B;
}

#education>h8{
    color: #E3E3E3;
    position: absolute;
    font-size: 1.5vw;
}

#education>h8:nth-child(4){
    top: 70vh;
    left: 54vw;
    color: #BF1191;

}

#education>h8:nth-child(2){
    top: 15vh;
    left: 54vw;
}

#education>h8:nth-child(3){
    top: 40vh;
    left: 5vw;
}

/*========================Page 6 - Assignments===============================================*/


#Assignments{
    width: 45vw;
    height: 115vh;
    position: relative;
    left: 10vw;
    top: 80vh;
    rotation: 90rad;
    /*border: 3px solid purple;*/
}

.AssgnmentHeading{
    font-size: 4vw;
    position: relative;
    font-family: "Baskerville Old Face";
    top: 70vh;
    left: 500px;
    color: #30336b;
    opacity: 60%;
}
#Assignments>.whole{
    width: 80vw;
    height: 120vh;
    position: absolute;
    left: 1vw;
    top:0vh;
    /*border: 2px solid green;*/
}

#Assignments>.whole>div{
    width: 13vw;
    height: 28vh;
    border-radius: 100%;
    position: absolute;
    background: #95BF39;
    left: 1vw;
    top: 0vh;
}
@media all and (min-width: 425px) and (max-width: 768px){
    #Assignments>.whole>div{
        width: 17.3vw;
        height: 24vh;
        border-radius: 100%;
        position: absolute;
        background: #95BF39;
        left: 1vw;
        top: 0vh;
    }
}

#Assignments>.whole>div>section{
    width: 13vw;
    height: 25vh;
    border-radius: 100%;
    position: absolute;
    background: #E3E3E3;
    left: 0;
    top: 1.4vh;
}

@media all and (min-width: 425px) and (max-width: 768px){
    #Assignments>.whole>div>section{
        width: 17vw;
        height: 21vh;
        border-radius: 100%;
        position: absolute;
        background: #E3E3E3;
        left: 0;
        top: 1.4vh;
    }
}

#Assignments>.whole>div:nth-child(1){
    background: #95BF39;
    left: 1vw;
    top: 1.8vh;
    /*animation: 1s bounce1 infinite alternate;*/

}
@keyframes bounce1 {
    0%{
        top: 0vh;
    }
    100%{
        top: 3vh;
    }
}
#Assignments>.whole>div:nth-child(2){
    background: #BF1191;
    left: 14vw;
    top: 12vh;
    /*animation: 1s bounce2 infinite alternate;*/
}
@media all and (min-width: 425px) and (max-width: 768px){
    #Assignments>.whole>div:nth-child(2){
        background: #BF1191;
        left: 19vw;
        top: 12vh;
        /*animation: 1s bounce2 infinite alternate;*/
    }
}
@keyframes bounce2 {
    0%{
        top: 10vh;
    }
    100%{
        top: 12.5vh;
    }
}

#Assignments>.whole>div:nth-child(3){
    background: #38A69B;
    left: 22vw;
    top: 38vh;
    /*animation: 1s bounce3 infinite alternate;*/
}


@media all and (min-width: 425px) and (max-width: 768px){
    #Assignments>.whole>div:nth-child(3){
        left: 26vw;
    }
}
@keyframes bounce3 {
    0%{
        top: 36vh;
    }
    100%{
        top: 38.5vh;
    }
}

#Assignments>.whole>div:nth-child(4){
    background:  orange;
    left: 14vw;
    top: 62vh;
    /*animation: 1s bounce4 infinite alternate;*/
}

@media all and (min-width: 425px) and (max-width: 768px){
    #Assignments>.whole>div:nth-child(4){
        left: 18vw;
    }
}
@keyframes bounce4 {
    0%{
        top: 62vh;
    }
    100%{
        top: 64.5vh;
    }
}

#Assignments>.whole>div:nth-child(5){
    background:#405A6B;
    left: 1vw;
    top:75vh;
    /*animation: 1s bounce5 infinite alternate;*/
}
@media all and (min-width: 425px) and (max-width: 768px){
    #Assignments>.whole>div:nth-child(5){
        left: 0vw;
    }
}
@keyframes bounce5 {
    0%{
        top: 70vh;
    }
    100%{
        top: 72.5vh;
    }
}

#Assignments>.whole>div>section>a{
    position: absolute;
    font-family: "Baskerville Old Face";
    color: black;
    left: 5vw;
    top: 10vh;
    font-size: 1.5vw;

}

#dots>div{
    width: 1vw;
    height: 2vh;
    border-radius: 100%;
    position: absolute;
    background: #E3E3E3;
    top: 48vh;
    left: 5px;
}


@media all and (min-width: 425px) and (max-width: 768px){
    #dots>div{
        width: 1.5vw;
    }
}

#dots>div>a{
    position: absolute;
    font-size: 2vw;
    top: -22px;
}
@media all and (min-width: 768px) and (max-width: 1024px){
    #dots>div>a{
        position: absolute;
        font-size: 1.8vw;
        top: -14px;
    }
}
@media all and (min-width: 425px) and (max-width: 768px){
    #dots>div>a{
        position: absolute;
        font-size: 2.8vw;
        top: -14px;
    }
}

#dots>div:nth-child(1)>a{
    color: #38A69B;

}




#dots>div:nth-child(2)>a{
    color: orange;

}
#dots>div:nth-child(3)>a{
    color: #95BF39;

}
#dots>div:nth-child(1){

    background: #38A69B;
    left: 45vw;

}

@media all and (min-width: 425px) and (max-width: 768px){
    #dots>div:nth-child(1){

        background: #38A69B;
        left: 60vw;

    }
}
#dots>div:nth-child(2){

    background: orange;
    left: 50vw;
    top: 48vh;
}
#dots>div:nth-child(3){

    background: #95BF39;
    left: 55vw;

}

#leave{
    font-size: 4vw;
    position: relative;
    font-family: "Baskerville Old Face";
    top: 90vh;
    left: 500px;
    color: #30336b;
    opacity: 60%;
}

@media all and (min-width: 768px) and (max-width: 1024px){
    #leave{
        top: 77vh;
    }
}

/*========================Page 7 - Comment Section===============================================*/

#comments{
    width: 40vw;
    height: 80vh;
    position: relative;
    left: 15vw;
    top: 100vh;
    box-shadow: 0px 0px 10px #E3E3E3;
}

@media all and (min-width: 768px) and (max-width: 1024px){
    #comments{
        top: 80vh;
    }
}

#comments>h8{
    color: #E3E3E3;
    position: absolute;
    left: 4vh;
    font-size: 1.5vw;
    color: #30336b;

}

#comments>h8:nth-child(1){
    top: 15vh;
}

#comments>h8{
    top: 45vh;
}

#comments>textarea{
    width: 30vw;
    position: absolute;
    left: 15vw;
    box-shadow: 0px 0px 10px #7f8fa6;

}

#comments>textarea:nth-child(2){
    height: 5vh;
    top: 13.5vh;
}

#comments>textarea:nth-child(3){
    height: 30vh;
    top: 35vh;
}

#ccc{
    width: 52vw;
    height: 30vh;
    position: absolute;
    left: 10vw;

    bottom: -25vh;
}
#row{
    width: 30vw;
    height: 30vh;
    position: absolute;
    left:10vw;
    top: 2.5vh;
}
#row>img{
    width: 3vw;
    height: 5vh;
    position: absolute;


}
#row>img:nth-child(1){
    left: 5vw;
    background-size: cover;
    background-position: center;
}
#row>img:nth-child(2){

    left: 10vw;
    background-size: cover;
    background-position: center;
}
#row>img:nth-child(3){

    left: 15vw;
    background-size: cover;
    background-position: center;
}
#row>img:nth-child(4){
    left: 20vw;
    background-size: cover;
    background-position: center;
}
#row>img:nth-child(5){
    left: 25vw;
    background-size: cover;
    background-position: center;
}


#row>h8{
    width: 20vw;
    height: 20vh;
    position: absolute;
    left: 5vw;
    color: black;
    top: 10vh;
    font-size: 1.5vw;
    text-align: center;
    font-family: "Baskerville Old Face";
}

/*==================================footer================================================*/
footer{
    height: 12vh;
    background: #7f8fa6;
    position: relative;
}

footer>div{
    width: 7vw;
    height: 10vh;
    top: 1vh;
    left: 45vw;
    background: url("../icons/schini.png");
    background-size: cover;
    background-position: center;
    position: absolute;
}
@media all and (min-width: 425px) and (max-width: 768px){
    footer>div{
        width: 12vw;
        height: 10vh;
        top: 1vh;
        left: 45vw;
        background: url("../icons/schini.png");
        background-size: cover;
        background-position: center;
        position: absolute;
    }
}

main>h6{
    visibility: hidden;
}


@media all and (min-width: 425px) and (max-width: 768px){
    main>h6{
        color: #38A69B;
        position: absolute;
        top: 0;
    }
}


#aside{
    width: 300px;
    height: 50px;
    /*border: 1px solid #38A69B;*/
    right: 5px;
    position: absolute;
    display: flex;
}

aside>a{
    color: #A0AAB3;
}
aside>a:nth-child(1){
    left: 0px;
    position: absolute;
}
aside>a:nth-child(2){
    left: 100px;
    position: absolute;
}

aside>a:nth-child(3){
    left:230px;
    position: absolute;
}
@media all and (min-width: 0px) and (max-width: 425px){
    aside>{
        left: 500px;
    }

}
@media all and (min-width: 425px) and (max-width: 768px){
    aside>a{
        top: 20px;
        color: #A0AAB3;
    }
}
#loader{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #1B1A2F
    url("../icons/b83ec9d8ac7a6f2dfaa93fa4f150e3b6.gif")
    no-repeat center;
    z-index: 9999;
    overflow: hidden;
}
/*#loader{*/
/*    position: relative;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background: #274659*/
/*    url("../icons/65ba488626025cff82f091336fbf94bb.gif")*/
/*    no-repeat center;*/
/*    z-index: 9999;*/
/*    overflow: hidden;*/
/*}*/

.cursor{
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 22px rgb(255 255 255);
    box-sizing: border-box;
    mix-blend-mode: difference;
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    -webkit-transition: all 550ms ease;
    transition: all 300ms linear;
}

#sachi:hover ~ .cursor{
    border: none;
    background: #A0AAB3;
    transform: scale(2.5);
}


.switch {
    position: relative;
    display: inline-block;
    border-radius: 1px;
    width: 50px;
    height: 20px;
    top: -114px;
    left: 750px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #869791;
    /*#c7ecee*/
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: #7f8fa6;
    -webkit-transition: .4s;
    box-shadow: 1px 1px 1px 1px #405A6B;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FFFFFF;
    box-shadow: 0 0 1px #718093;

}

input:focus + .slider {
    box-shadow: 0 0 1px #869791;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.slider.round ~ .cursor{
    border: none;
    background: #A0AAB3;
    transform: scale(2.5);
}

.style{
    width: 128px;
    height: 2px;
    margin-left: -13px;
    margin-top: -14px;
    border-radius: 25px;
    position: absolute;
    /*background: #869791;*/
    opacity: 100%;
}

.view{
    margin-top: 93px;
    margin-left: 27px;
    color: #1B1A2F;
}
/*==============================================================*/
    #loader {
        width: 100%;
        height: 100vh;
        position: absolute;
        background: #274659;
        z-index: 1000;
    }
    .txt{
        color: #666;
        text-align: center;
        top: 40%;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: bold;
        line-height: 1.5;
    }
    /* SPINNER ANIMATION */
    .spinner {
        position: relative;
        top: 35%;
        left: 45%;
        width: 80px;
        height: 80px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
        0% { -webkit-transform: scale(0) }
        100% {
            -webkit-transform: scale(1.0);
            opacity: 0;
        }
    }
    @keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
        } 100% {
              -webkit-transform: scale(1.0);
              transform: scale(1.0);
              opacity: 0;
          }
    }
/*=======================================================*/

.skillsHeadline {
    font-size: 4vw;
    position: relative;
    font-family: "Baskerville Old Face";
    top: 190px;
    left: 100px;
    color: #30336b;
    opacity: 60%;
}


/*===============================================================*/

.hover1{
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.hover1:before, .hover17:after{
    content: "";
    width: 201%;
    height: 500%;
    opacity: 0;
    transform: rotate(360deg);
    transition: opacity .2s ease-out;
    position: absolute;
    top: 0;
}

.hover1:before{
    left: 0;
    transform: translate3d(-100%, 0, 0);
}

.hover1:after{
    right: 0;
    transform: translate3d(100%, 0, 0);
}

.hover1__label{
    position: relative;
    z-index: 2;
}

.hover1:hover:before, .hover1:hover:after,
.hover1:focus:before, .hover1:focus:after{
    opacity: 1;
    transform: rotate(0);
    transition: transform .3s cubic-bezier(0.93,-0.06, 0.04, 1.07), opacity .3s ease-out;
}

/*============================================================*/

.lift-up:hover{
    transition: all .5s;
    transform : translateY(-50px);
}

/*============================================================*/
#btn{
    box-shadow: 0px 0px 10px #38A69B;
    padding: 20px 40px;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 24px;
    font-family: sans-serif;
    transition: all .5s;
    left: 65vw;
    top: 10vh;
}

#btn:before{
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top:  0%;
    left: 0%;
    background: #7f8fa6;
    transition: all .5s;
    z-index: -1;

}
#btn:after{
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top:  0%;
    left: 0%;
    background: white;
    transition: all .5s;
    z-index: -1;

}
#btn:hover{
    color: #7f8fa6;
}
#btn:hover:before{
    transform: rotateX(90deg);
}
#btn:hover:after{
    transform: rotateY(90deg);
}
/*====================================================*/

@media all and (min-width: 1440px) and (max-width: 2560px){
    #SAchini{
        color: #34495e;
        font-size: 18px;
        font-family: Castellar;
        transform: rotate(-90deg);
        width: 300px;
        left: -8.5vw;
        top: 17vh;
        position: absolute;
    }
    #aside{
        left: 75vw;
    }

    #aside>a{

        font-size: 1vw;
    }
    #soial>img{
        width: 30px;
        height: 30px;
        position: absolute;
        background-position: center;
        background-size: cover;
        left: -5px;
    }

    .shadow{
        width: 40%;
        height: 75%;
        position: absolute;
        top: 135px;
        left: 100px;
        background-color: #30336b;
        opacity: 60%;
        box-shadow: 0 10px 10px -5px;
    }

    #soial>img:nth-child(2){
        width: 30px;
        height: 30px;
        top: 10vh;
        background-position: center;
        background-size: cover;
    }

    #Skills{
        width: 70vw;
        height: 90vh;
        border-radius: 5vw;
        position: relative;
        top: 30vh;
        left: 10vw;

    }

    .skillsHeadline {
        font-size: 4vw;
        position: relative;
        font-family: "Baskerville Old Face";
        top: 120vh;
        left: 200px;
        color: #30336b;
        opacity: 60%;
    }

    #projects{
        width: 55vw;
        height: 80vh;
        position: relative;
        left: 20vw;
        top: 42vh;
        /*border: 2px solid red;*/
    }
    #projects>#pro{
        width: 55vw;
        height: 60vh;
        position: absolute;
        left: 1.6vw;
        top: 16vh;
        /*border: 2px solid blueviolet;*/

    }

    #leave{
        font-size: 4vw;
        position: relative;
        font-family: "Baskerville Old Face";
        top: 90vh;
        left: 500px;
        color: #30336b;
        opacity: 60%;
    }


    .projectHeading{
        left: 200px;
    }

    .switch {
        position: relative;
        display: inline-block;
        border-radius: 1px;
        width: 60px;
        height: 33px;
        top: -180px;
        left: 900px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        box-shadow: 1px 1px 1px 1px #405A6B;
        transition: .4s;
    }

    .spinner {
        position: relative;
        top: 35%;
        left: 45%;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    .txt{
        color: #666;
        text-align: center;
        top: 40%;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: bold;
        line-height: 1.5;
        left: -2vw;
    }
}
